<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deptmapper">
	<select id="selectList" resultMap="resultList">
		SELECT DEPTNO, DNAME, LOC FROM DEPT
	</select>
	
	<resultMap type="map" id="resultList">
		<result column="DEPTNO" javaType="string"/>
		<result column="DNAME" javaType="string"/>
		<result column="LOC" javaType="string"/>
	</resultMap>
	
	
	
	
	<update id="updateDept">
		UPDATE DEPT
			SET DNAME = #{dname}
			, SET LOC = #{loc}
		WHERE DEPTNO = #{deptNo}
	</update>
	
	<insert id="insertDept">
		INSERT INTO DEPT (DEPTNO, DNAME, LOC)
		VALUES (deptno, dname, loc)
	</insert>
	
</mapper>