@charset "UTF-8";
.header{
    font-size: 80px;
    text-align: center;
    margin : 30px;
    cursor: pointer;
}
.board{
    margin: auto;
    cursor: pointer;
}

.line{
    margin: auto;
    width: 760px;
    height: 40px; 
    display: flex;   
}
img{
    width: 40px;
    height: 40px;
}


